body {
    background-image: url(https://images.pexels.com/photos/2747449/pexels-photo-2747449.jpeg?cs=srgb&dl=pexels-wolfgang-2747449.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}